# Lint code with Standard
name: Linter

on:
  push:
    branches:
    - master

jobs:
  lint:
    name: 'Lint code with Standard'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - run: npm ci
    - run: npm run lint
